[Unit]
Description=Log shutdown time
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/home/janezpavel/.local/bin/raba reboot

[Install]
WantedBy=reboot.target

