:root {
    color-scheme: dark;
    --tema: dark;

    --bPoudarek: rgba(67, 166, 255, 1);
    --bPoudarekProsojno: rgba(153, 178, 255, 0.7);
    --bOzadje: #121212;
    --bOzadjeNaprej: rgba(60, 60, 60, 1);
    --bOzadjePoudarek: rgba(40, 50, 80, 1);
    --bOspredje: #eee;
    --bOspredjeNazaj: rgba(163, 163, 163, 1);
    --bNazaj: rgba(100, 100, 100, 1);

    --bKOzadje: #1e1e1e;
    --bKOspredje: #00c500;
   
    --vsebina: 50em;
}

.light {
    color-scheme: light;
    --tema: light;

    --bPoudarek: rgba(0, 86, 163, 1);
    --bPoudarekProsojno: rgba(49, 99, 255, 0.7);
    --bOzadje: white;
    --bOzadjeNaprej: rgba(207, 207, 207, 1);
    --bOzadjePoudarek: rgba(160, 184, 255, 1);
    --bOspredje: #121212;
    --bOspredjeNazaj: rgba(88, 88, 88, 1);
    --bNazaj: rgba(160, 160, 160, 1);

    --bKOzadje: #ededed;
    --bKOspredje: #009500;
}

/*@media (prefers-color-scheme: light){
	body {
    }
}*/

html {
    scrollbar-width: normal;
    scrollbar-color: #777 #5555;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-thumb {
    background-color: #7775;
}
/*::-webkit-scrollbar-thumb:hover {
    background-color: #777;         
}*/
::-webkit-scrollbar-track {
    background-color: #5555;
}

html, body {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    transition: all 0.2s;
}
 
body{
	margin:auto;
    min-height: 100vh;
    font-family: sans-serif;
    background: var(--bOzadje);
    color: var(--bOspredje);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

main {
    /*max-width: var(--vsebina);*/
    height: 100%;
	margin:auto;
    /*padding: 1em;*/
    padding-top: 0;
    padding-bottom: 100vh;
    flex: 1;
}
.content {
    max-width: var(--vsebina);
    margin:auto;
}


header {
    min-height: 5em;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 1em;
}

h2, h3 {
    margin-top: 3em;
}

h1 {
    text-align: center;
}

h1 + h2 {
    margin-top: 0;
}

h2 + h3 {
    margin-top: 0;
}

hr {
    width: 75%;
    color: var(--bOspredjeNazaj);
}

a {
    color: var(--bPoudarek);
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}

code {
    font-family: monospace;
    background-color: var(--bKOzadje);
    padding: 0.1em;
    border: 1px solid #5f5f5f;
    border-radius: 0.3em;
    color: var(--bKOspredje);
    display: inline-block;
}

kbd {
    font-family: monospace;
    background-color: var(--bKOzadje);
    padding: 0.1em;
    border: 1px solid #5f5f5f;
    border-radius: 0.3em;
    color: var(--bOspredje);
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

svg {
    color: var(--bOspredje);
}
.obrnljiva {
    filter: invert(100%) hue-rotate(180deg);
}
.light .obrnljiva {
    filter: invert(0);
}

table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0.7rem;
    margin-left: auto;
    margin-right: auto;
}
main table {
    max-width: 100vw;
    width: auto;
}
table th, table td {
    border: 1px solid var(--bOspredjeNazaj);
    padding: 0.5em;
    text-align: center;
}
tr:hover {
    background-color: var(--bOzadjeNaprej);
}
thead tr:hover {
    background-color: initial;
}

button {
    background-color: initial;
}

#domov {
    display: flex;
    margin: auto;
    height: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#datum {
    font-size: small;
    text-align: center;
    padding-bottom: 1em;
}

#kazalo {
    max-width: var(--vsebina);
    margin:auto;
}

#stikaloTeme {
    color: var(--bOspredjeNazaj);
    background: none;
    border: none;
    cursor: pointer;
}
#stikaloTeme:hover {
    color: var(--bOspredje);
}

#linkMD, #linkMD a {
    font-size: small;
    color: var(--bOspredjeNazaj);
    background: none;
    border: none;
    cursor: pointer;
}
#linkMD:hover, #linkMD a {
    color: var(--bOspredje);
}

/*Za MathJax (enačbe)*/
.CtxtMenu_ContextMenu, .CtxtMenu_Menu, .CtxtMenu_Info, .CtxtMenu_MousePost, .CtxtMenu_InfoContent {
    background-color: var(--bOzadjeNaprej) !important;
    color: var(--bOspredje) !important;
    border: 1px solid var(--bOspredjeNazaj) !important;
    margin:0 !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.CtxtMenu_MenuClose span, .CtxtMenu_MenuClose /*gumbek za zapiranje okenčkov*/ {
    background-color: var(--bOzadjeNaprej) !important;
    border: none !important;
}

@media print{
	body{
		max-width:none
	}
    #stikaloTeme {
        display: none;
    }
    #naVrh {
        display: none;
    }
}

/* PISAVE ========================================================================== */
.metelcica3 table tbody td:nth-child(3) {
    font-family: 'metelcica';
    font-size: 1rem;
    font-variant-ligatures: discretionary-ligatures;
}


@font-face {
    font-family: 'Glasopisnica';
    src: url('fonts/glasopisnica/Glasopisnica.woff2') format('woff2'),
         url('fonts/glasopisnica/Glasopisnica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Glasopisnica {
    font-family: 'Glasopisnica';
    font-size: 2rem;
    font-variant-ligatures: normal;
}
@font-face {
    font-family: 'PisanaGotica';
    src: url('fonts/pisana_gotica/pisana_gotica-webfont.woff2') format('woff2'),
         url('fonts/pisana_gotica/pisana_gotica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.PisanaGotica {
    font-family: 'PisanaGotica';
    font-size: 1.5rem;
    font-variant-ligatures: normal;
}

@font-face {
    font-family: 'Croatica';
    src: url('fonts/Croatica/Croatica.woff2') format('woff2'),
         url('fonts/Croatica/Croatica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Croatica {
    font-family: 'Croatica';
    font-size: 1rem;
    font-variant-ligatures: normal;
}

@font-face {
    font-family: 'Glagolica';
    src: url('fonts/Glagolica_Missal/GlagolicaMissalDPG.woff2') format('woff2'),
         url('fonts/Glagolica_Missal/GlagolicaMissalDPG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Glagolica {
    font-family: 'Glagolica';
    font-size: 1rem;
    font-variant-ligatures: normal;
}

@font-face {
    font-family: 'Valmarska';
    src: url('fonts/valmarska/ValmaricEldamar.woff2') format('woff2'),
         url('fonts/valmarska/ValmaricEldamar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Valmarska {
    font-family: 'Valmarska';
    font-size: 1.5rem;
    font-variant-ligatures: normal;
}

@font-face {
    font-family: 'Tengvar';
    src: url('fonts/Tengwar/tengwar_slo-webfont.woff2') format('woff2'),
         url('fonts/Tengwar/tengwar_slo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Tengvar {
    font-family: 'Tengvar';
    font-size: 1.5rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'TengvarA';
    src: url('fonts/tengwar-annatar-font/TengwarAnnatar.woff2') format('woff2'),
         url('fonts/tengwar-annatar-font/TengwarAnnatar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TengvarA';
    src: url('fonts/tengwar-annatar-font/TengwarAnnatar-Italic.woff2') format('woff2'),
         url('fonts/tengwar-annatar-font/TengwarAnnatar-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TengvarA';
    src: url('fonts/tengwar-annatar-font/TengwarAnnatar-Bold.woff2') format('woff2'),
         url('fonts/tengwar-annatar-font/TengwarAnnatar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TengvarA';
    src: url('fonts/tengwar-annatar-font/TengwarAnnatar-BoldItalic.woff2') format('woff2'),
         url('fonts/tengwar-annatar-font/TengwarAnnatar-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
.TengvarA {
    font-family: 'TengvarA';
    font-size: 1.8rem;
    font-variant-ligatures: discretionary-ligatures;
}
.TengvarAM { /*manjša velikost za primere ali drugo rabo v besedilu*/
    font-family: 'TengvarA';
    font-size: 1.4rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiLD';
    src: url('fonts/Sarati/SaratiEldamarLTR.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarLTR.woff') format('woff');
         /*url('fonts/Sarati/sarael__.ttf') format('ttf');*/
    font-weight: normal;
    font-style: normal;
}
.SaratiLD {
    font-family: 'SaratiLD';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiLDč';
    src: url('fonts/Sarati/SaratiEldamarLTRBar.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarLTRBar.woff') format('woff');
         /*url('fonts/Sarati/saraelb_.ttf') format('ttf');*/
    font-weight: normal;
    font-style: normal;
}
.SaratiLDč {
    font-family: 'SaratiLDč';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiDL';
    src: url('fonts/Sarati/SaratiEldamarRTL.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarRTL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.SaratiDL {
    font-family: 'SaratiDL';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiDLč';
    src: url('fonts/Sarati/SaratiEldamarRTLBar.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarRTLBar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.SaratiDLč {
    font-family: 'SaratiDLč';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiN';
    src: url('fonts/Sarati/SaratiEldamarVertical.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarVertical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.SaratiN {
    font-family: 'SaratiN';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'SaratiNč';
    src: url('fonts/Sarati/SaratiEldamarVerticalBar.woff2') format('woff2'),
         url('fonts/Sarati/SaratiEldamarVerticalBar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.SaratiNč {
    font-family: 'SaratiLD';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'Kirt';
    src: url('fonts/cirth_erebor/Erebor/CirthErebor.woff2') format('woff2'),
         url('fonts/Sarati/CirthErebor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Kirt {
    font-family: 'Kirt';
    font-size: 1rem;
    font-variant-ligatures: discretionary-ligatures;
}

@font-face {
    font-family: 'RuneT';
    src: url('fonts/Rune_Tolkien/RuneTolkien.woff2') format('woff2'),
         url('fonts/Rune_Tolkien/RuneTolkien.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.RuneT {
    font-family: 'RuneT';
    font-size: 1rem;
    font-variant-ligatures: discretionary-ligatures;
}


@font-face {
    font-family: 'metelcica';
    src: url('./fonts/metelcica/metelcica-webfont.eot');
    src: url('./fonts/metelcica/metelcica-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/metelcica/metelcica-webfont.woff2') format('woff2'),
         url('./fonts/metelcica/metelcica-webfont.woff') format('woff'),
         url('./fonts/metelcica/metelcica-webfont.ttf') format('truetype'),
         url('./fonts/metelcica/metelcica-webfont.svg#metel_icaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.metelcica {
    font-family: 'metelcica';
    font-size: 1rem;
    font-variant-ligatures: discretionary-ligatures;
}
@font-face {
    font-family: 'Dinotopia';
    src: url('fonts/dinotopia/dinotopia_james_gurney-webfont.woff2') format('woff2'),
         url('fonts/dinotopia/dinotopia_james_gurney-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Dinotopia {
    font-family: 'Dinotopia';
    font-size: 1.5rem;
    font-variant-ligatures: discretionary-ligatures;
}
