:root {
    --izrazito: Lime;
    --mehka-crna: #121212;
    --bela: #ffffff;
    --pisava:"Times New Roman", Times, Georgia, Garamond, serif;
    --vsebina: 120ch;
}

body {
    --accent-color: var(--izrazito);
    --background-color: var(--mehka-crna);
    --text-color: var(--bela);
    --transition-delay: 0.5s;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Times New Roman", Times, Georgia, Garamond, serif;
    opacity: 0.87;
}
@font-face {
    font-family: 'PisanaGotica';
    src: url('fonts/pisana_gotica/pisana_gotica-webfont.woff2') format('woff2'),
         url('fonts/pisana_gotica/pisana_gotica-webfont.woff') format('woff'),
         url('fonts/pisana_gotica/pisana_gotica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.PisanaGotica {
    font-family: 'PisanaGotica';
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
}
@font-face {
    font-family: 'Tengwar';
    src: url('fonts/Tengwar/tengwar_slo-webfont.woff2') format('woff2'),
         url('fonts/Tengwar/tengwar_slo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Tengwar {
    font-family: 'Tengwar';
    font-size: 1.5rem;
    font-variant-ligatures: discretionary-ligatures;
}
@font-face {
    font-family: 'Dinotopia';
    src: url('fonts/dinotopia/dinotopia_james_gurney-webfont.woff2') format('woff2'),
         url('fonts/dinotopia/dinotopia_james_gurney-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Dinotopia {
    font-family: 'Dinotopia';
    font-size: 1rem;
    font-variant-ligatures: discretionary-ligatures;
}

body.light {
  --accent-color: var(--izrazito);
  --background-color: white;
  --text-color: black;
}
.zamrznjeno {
    color: var(--bela);
    opacity: 0.4;
}
.button-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    width: 20px;
    height: 20px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    padding: 1px;
}
/*DRSNIK*/
    html {
      scrollbar-width: normal;
      scrollbar-color: #777 #5555;
    }

    ::-webkit-scrollbar {
      width: 1vw;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #7775;
    }
    ::-webkit-scrollbar-thumb:hover /*barva, ko si z miško gor*/ {
      background-color: #777;
    }

    ::-webkit-scrollbar-track {
      background-color: #5555;
    }
.zamaknjeno {
    padding-left: 10px;
}
.velikosredinsko {
 text-align: center;
 font-variant: small-caps;
 }

.scribd {
    padding: none;
    background-color: white;
    font-family: "Times New Roman", Times, Georgia, Garamond, serif;
    font-size: 1rem;
    overflow: hidden; /* skrije drsnik */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 770px;
    border: 0;
    position: middle;
}
.kazalo-strani {
    position: fixed;
    top: clamp(1rem, 3.5vw, 5rem);
    right: 1rem;
    left: auto;
    padding: 5px;
    max-width: 10rem;
    max-height: 100vh;
    padding: 1rem;
    justify-content: left;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.5);
}
.content {
    max-width: var(--vsebina);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

body.ura {
    padding: 1rem;
    background-color: #121212;
    font-family: "Times New Roman", Times, Georgia, Garamond, serif;
    color: #FFFFFF;
    font-size: 1rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /*hides scrollbar*/
    margin: auto;
}

svg text {
    fill: #fff;
    font-family: Times New Roman Serif;
    stroke: #fff;
}
svg text tspan {
    stroke: #fff;
    fill: #fff;
}

h1 {
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    font-size: 4.4rem;
    font-variant: small-caps;
}
h2 {
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 3.4rem;
    font-variant: small-caps;
}
h3 {
 text-align: center;
 margin-top: 1.1rem;
 margin-bottom: 1.1rem;
 font-size: 2.4rem;
 font-variant: small-caps;
 }
h4 {
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
 font-size: 1.8rem;
 }
h5 {
 text-align: left;
 margin-top: 0.9rem;
 margin-bottom: 0.9rem;
 font-size: 1.6rem;
    margin-left: 0rem;
    margin-right: auto;
 }
h6 {
 text-align: left;
 margin-top: 0.8rem;
 margin-bottom: 0.8rem;
 font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: auto;
 }
h7 {
 text-align: left;
 margin-top: 0.7rem;
 margin-bottom: 0.7rem;
 font-size: 1.2rem;
 font-weight: bold;
    margin-left: 2rem;
    margin-right: auto;
 }
p {
 text-align: justify;
 font-size: 1rem;
 margin-left: ;
 margin-top: 0.5rem;
 }
p.capitals {
 text-align: justify;
 font-size: 1rem;
 margin-top: 0.5rem;
 font-variant: small-caps;
}
.besedilosred {
    text-align: center;
}
.deli {
    max-height: 12rem;
    max-width: 12rem;
}
.lunadel {
    height: 6rem;
    width: 6rem;
}
.dnevnecrte {
    fill: none;
    stroke-width: 6px;
    stroke-opacity: 0.6;
    stroke-width: 5px;
}
.kazalka {
    --odmik: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 0.1vmin solid yellow;
    position: absolute;
}
.poldnevnica {
    width: 0.1vmin;
    height: 100%;
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 50%;
}
.obrocek{
    position: absolute;
    z-index: 4; /*visoka plast, da prekrije kazalce*/
    width: 4vmin;
    height: 4vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*postavimo središče elemnta (ne pa kot) v središče polja*/
    border-radius: 50%; /*krog iz kvadrata*/
    border: 1px solid white;
}
li {
 text-align: justify;
 font-size: 1rem;
 margin-left: ;
 margin-top: 0.5rem;
 }
a {
    color: Lime;
    text-decoration: none;
    cursor: pointer
 }
ul.s {
  list-style-type: square;
  color: #FFFFFF;
}
ul {
    list-style: none;
}
ul.ugn1 {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

hr {
 margin-top: 1.2rem;
 margin-bottom: 1.2rem
 }
table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0.7rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
table.capital {
    margin-left: 12px;
}
table.list {
    margin-left: 100px;
}
.pšv {
    width: 100vw;
    overflow: scroll;
    overflow-y: hidden;
}
tr.spodajrob {
    border-bottom: 1px solid white;
}
table.sredinsko th,
table.sredinsko td {
    text-align:center;
}
    table tr {
        border: none;
    }
    table td {
    border-right: 1px solid white;
    padding: 10px;
    text-align: left;
    }
    table th {
    border-bottom: 1px solid white;
        padding: 10px;
        text-align: center;
    border-right: 1px solid white;
    }
    table th.brezdrob,
    table td.brezdrob {
        border-right: none;
    }
    /* Krepko za prvi stolpec v navadni tabeli */
    table:not(.zgornja) tr td:first-child {
        font-weight: bold;
    }

    /* Odstranitev krepke pisave za prvi stolpec v tabeli razreda "zgornja" */
    table.zgornja tr td:first-child {
        font-weight: ;
    }

.image-center {
 display: flex;
 justify-content: center;
 align-items: center;
 }

/*KAZALO SPLETNE STRANI*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 2rem;
  --bar-height: 0.18rem;
  --hamburger-gap: 0.38rem;
  --foreground: rgba(0, 0, 0, 0.5); /*barva polja kazala, zadnja vrednost je za prosojnost*/
  --background: white;
  --hamburger-color: white;
  --hamburger-margin: 0.38rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); /*izračun celotne višine ikone treh črtic*/
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);/*izračun širine ikone x; število je koren od 2*/

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content; /*okno je široko, kolikor je vsebina*/
  position: fixed;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer; /*kazalec spremeni obliko, ko se zapelješ nanj - dejaven*/
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background); /*obroba, ko je ikona izbrana pri delu brez kazalca, barve background*/
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-color);
  border-radius: 9999px;
  transform-origin: left center; /*središče sukanja je na levi*/
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing); /*dolžina trajanj animacij za vse spremembe*/
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg; /*obračanje zgornje črtice*/
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;/*obračanje spodnje črtice*/
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked { /*ob kliku je počekirana sredinska črta - ob tem pa izgine*/
  opacity: 0;
  width: 0;
}

.sidebar /*kazalo stran*/ {
  transition: translate var(--animation-timing); /*čas, da se prikaže kazalo*/
  translate: -100%; /*kazalo strani je privzeto skrito izven strani*/
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem /*1rem odmika kazala od ikone*/); /*odmik od vrha strani na podlagi prostora, ki ga zavzame ikona*/
  background-color: var(--foreground);
  color: var(--background);
  max-width: 20rem; /*največja širina polja kazala strani, 1rem = fontsize of page*/
  height: 100vh; /*najmanjša višina polja kazala strani, 1vh = 1% višine zaslona*/
  position: fixed;
  overflow: auto;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}


@media (max-width: var(--vsebina)) {
    .kazalo-strani {
        position: absolute;
    }
}
@media print /*slog za tiskanje*/ {
    body {
        color: black;
        background: white;
        background-color: white;
    }
    a {
        color: black;
    }
    ul {
        color: black;
    }
    ul.s {
        color: black;
    }
    .zamrznjeno {
        color: black;
        opacity: 0.6;
    }
    .kazalo-strani {
        display: none;
    }
    .hamburger-menu {
        display: none;
    }
    .sidebar {
        display: none;
    }

    svg{
        stroke: black;
    }
    svg path{
        fill: black;
        stroke: black;
    }
    svg g {
        fill: black;
    }
    svg text {
        fill: black;
        font-family: Times New Roman Serif;
        stroke: black;
    }
    svg text tspan {
        stroke: black;
        fill: black;
    }

    table td {
        border-right: 1px solid black;
    }
    table th {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
}
@media (orientation: portrait) /*slog za zaslon v pokončnem načinu*/  and (max-width: 500px){
}
@media (orientation: landscape) /*slog za zaslon v ležečem načinu*/  and (max-width: 500px){
}
@media (prefers-color-scheme: dark) {
    path { fill: #white; }
}
@media (prefers-color-scheme: light) {
}
