:root { 
    --vsebina: 50em;

    color-scheme: dark;
    --tema: dark;

    --bOzadje: #282828;
    --bOzadjeNaprej: #504945;
    --bOspredje: #fbf1c7;
    --bOspredjeNazaj: #d5c4a1;
    --bPoudarek: #458588;
    --bNazaj: #a89984;

    --bKodaOzadje: None;
    --bKodaOspredje: #b8bb26;
}

.light {
    color-scheme: light;
    --tema: light;

    --bOzadje: #f9f5d7;
    --bOzadjeNaprej: #ebdbb2;
    --bOspredje: #282828;
    --bOspredjeNazaj: #504945;
    --bPoudarek: #458588; 
    --bNazaj: #7c6f64;

    /*za kodo*/
    --bKodaOzadje: None;
    --bKodaOspredje: #98971a;
}

html {
    scrollbar-width: normal;
    scrollbar-color: #777 #5555;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-thumb {
    background-color: #7775;
}
/*::-webkit-scrollbar-thumb:hover {
    background-color: #777;         
}*/
::-webkit-scrollbar-track {
    background-color: #5555;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--bOzadje);
    color: var(--bOspredje);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content, nav {
    width: 100%;
    max-width: var(--vsebina);
    margin: auto;
}

header {
    min-height: 5em;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 1em;
    margin-bottom: 100vh;
}

hr {
    width: var(--vsebina);
    color: var(--bOspredjeNazaj);
    margin-top: 2em;
}

a {
    color: var(--bPoudarek);
    cursor: pointer;
    text-decoration: none;
}

h1 {
    text-align: center;
}
h2, h3 {
    margin-top: 2em;
}

h1 + h2 {
    margin-top: 0;
}
h2 + h3 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
}
h1:hover::before, h2:hover::before,
h3:hover::before, h4:hover::before,
h5:hover::before, h6:hover::before {
    content: "# ";
    position: absolute;
    color: var(--bOspredjeNazaj);
    font-weight: normal;
    cursor: pointer;
}
h1:hover::before {
    left: 0;
}
h2, h3, h4, h5, h6 {
    margin-left: 1em;
}
h2:hover::before,
h3:hover::before, h4:hover::before,
h5:hover::before, h6:hover::before {
    left: -1em;
}

code {
    font-family: monospace;
    background-color: var(--bKodaOzadje);
    padding: 0.1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bOzadjeNaprej); /*#5f5f5f;*/
    border-radius: 0.3em;
    color: var(--bKodaOspredje);
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

svg {
    color: var(--bOspredje);
}
.obrnljiva {
    filter: invert(100%) hue-rotate(180deg);
}
.light .obrnljiva {
    filter: invert(0);
}

table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0.7rem auto;
    /*display: block;*/
    overflow-x: auto;
    max-width: 100%;
    width: auto;
    /*display: block;*/
}

table th, table td {
    border: 1px solid var(--bOspredjeNazaj);
    padding: 0.5em;
    text-align: center;
}
tr:hover {
    background-color: var(--bOzadjeNaprej);
}
thead tr:hover {
    background-color: initial;
}

button {
    background-color: initial;
}

#domov {
    display: flex;
    margin: auto;
    height: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#datum {
    font-size: small;
    text-align: center;
    padding-bottom: 1em;
}

#stikaloTeme {
    color: var(--bOspredjeNazaj);
    background: none;
    border: none;
    cursor: pointer;
}
#stikaloTeme:hover {
    color: var(--bOspredje);
}

#linkMD, #linkMD a {
    font-size: small;
    color: var(--bOspredjeNazaj);
    background: none;
    border: none;
    cursor: pointer;
}
#linkMD:hover, #linkMD a {
    color: var(--bOspredje);
}

@media print{
	body{
		max-width:none
	}
    #stikaloTeme {
        display: none;
    }
    #naVrh {
        display: none;
    }
}

